:root {
--brand-050: #f3f3fc;
--brand-100: #e6e6f9;
--brand-200: #d8d8f5;
--brand-300: #c8c8f1;
--brand-400: #9898e5;
--brand-500: #7373dc;
--brand-600: #4f4fd3;
--brand-700: #2e2eb8;
--brand-800: #1a1a69;
--brand-900: #121247;
--brand-950: #0b0b2d;
--secondary-050: #d3ffd3;
--secondary-100: #96ff96;
--secondary-200: #01fd01;
--secondary-300: #01ec01;
--secondary-400: #01ba01;
--secondary-500: #019301;
--secondary-600: #007200;
--secondary-700: #005200;
--secondary-800: #002f00;
--secondary-900: #001f00;
--secondary-950: #001400;
--tertiary-050: #fcf0ff;
--tertiary-100: #f9dffe;
--tertiary-200: #f5ccfe;
--tertiary-300: #f2b7fe;
--tertiary-400: #e46ffc;
--tertiary-500: #d210fa;
--tertiary-600: #a404c5;
--tertiary-700: #77038f;
--tertiary-800: #460255;
--tertiary-900: #31013b;
--tertiary-950: #210128;
--neutral-050: #f3f3f3;
--neutral-100: #e7e7e7;
--neutral-200: #dadada;
--neutral-300: #cbcbcb;
--neutral-400: #a0a0a0;
--neutral-500: #7e7e7e;
--neutral-600: #616161;
--neutral-700: #454545;
--neutral-800: #272727;
--neutral-900: #191919;
--neutral-950: #101010;
}
html {
	background-color: var(--neutral-900);
	color: var(--neutral-100)
}
